{% extends 'base.html' %}
{% block content %}


    <div class="site-section">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade">
            <div class="unit-7 pricing-table-modern__item">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner"></div>
                </div>
                <p class="pricing-table__item-title mb-0">天气分析</p>
              </div>
              <div class="pricing-table__item-main">
                <span class="d-block h2">天气统计</span>
                <ul class="list-unstyled mb-4">
                  <li></li>
                </ul>
                <div class="pricing-table__item-control"><a class="btn btn-secondary rounded-0 py-2 px-4" href="/score">打开</a></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="unit-7 pricing-table-modern__item featured-pricing">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner"></div>
                </div>
                <p class="pricing-table__item-title mb-0">风向分析</p>
              </div>
              <div class="pricing-table__item-main">
                <span class="d-block h2">风向分析</span>
                <ul class="list-unstyled mb-4">

                </ul>
                <div class="pricing-table__item-control"><a class="btn btn-primary rounded-0 py-2 px-4" href="/people">打开</a></div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
            <div class="unit-7 pricing-table-modern__item">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner"></div>
                </div>
                <p class="pricing-table__item-title mb-0">空气质量</p>
              </div>
              <div class="pricing-table__item-main">
                <span class="d-block h2">空气质量</span>
                <ul class="list-unstyled mb-4">


                </ul>
                <div class="pricing-table__item-control"><a class="btn btn-secondary rounded-0 py-2 px-4" href="/star">打开</a></div>
              </div>
            </div>
          </div>
                      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="unit-7 pricing-table-modern__item featured-pricing">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner"></div>
                </div>
                <p class="pricing-table__item-title mb-0">预测</p>
              </div>
              <div class="pricing-table__item-main">
                <span class="d-block h2">预测</span>
                <ul class="list-unstyled mb-4">

                </ul>
                <div class="pricing-table__item-control"><a class="btn btn-primary rounded-0 py-2 px-4" href="/rec">打开</a></div>
              </div>
            </div>
          </div>

                      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="unit-7 pricing-table-modern__item featured-pricing">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner"></div>
                </div>
                <p class="pricing-table__item-title mb-0">温度变化</p>
              </div>
              <div class="pricing-table__item-main">
                <span class="d-block h2">温度变化</span>
                <ul class="list-unstyled mb-4">

                </ul>
                <div class="pricing-table__item-control"><a class="btn btn-primary rounded-0 py-2 px-4" href="/cloud">打开</a></div>
              </div>
            </div>
          </div>
                      <div class="col-md-6 col-lg-4" data-aos="fade">
            <div class="unit-7 pricing-table-modern__item">
              <div class="pricing-table__item-header">
                <div class="pricing-table__item-header-bg">
                  <div class="pricing-table__item-header-bg-inner"></div>
                </div>
                <p class="pricing-table__item-title mb-0">黑龙江不同地区今日温度</p>
              </div>
              <div class="pricing-table__item-main">
                <span class="d-block h2">黑龙江不同地区今日温度</span>
                <ul class="list-unstyled mb-4">
                  <li></li>
                </ul>
                <div class="pricing-table__item-control"><a class="btn btn-secondary rounded-0 py-2 px-4" href="/diqu">打开</a></div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    

       
    


{% endblock %}