<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="static/css/reset.css"/>
    <link rel="stylesheet" href="static/css/common.css"/>
</head>
<script type="text/javascript">
    function sucess() {
        alert("注册成功")
    }
</script>
<body>
<div class="wrap login_wrap"
     style="background: url(static/image/hero_bg_2.jpg) no-repeat center;background-size: 100%;">

    <div class="wrap login_wrap">
        <div class="content">
            <div class="logo"></div>
            <div class="login_box">
                <div class="login_form">
                    <div class="login_title">
                        注册
                    </div>
                    <form action="/register" method="post">
                        <div class="form_text_ipt">
                            <input name="username" type="text" placeholder="用户名">
                        </div>
                        <div class="ececk_warning"><span>数据不能为空</span></div>
                        <div class="form_text_ipt">
                            <input name="password" type="password" placeholder="密码">
                        </div>
                        <div class="ececk_warning"><span>数据不能为空</span></div>
                        <div class="form_btn">
                            <button type="submit"
                                    style="width: 100%;height: 100%;border: none;color: #FFFFFF;font-size: 14px;background: red;cursor: pointer;">
                                注册
                            </button>
                        </div>
                        <div class="form_reg_btn">
                            <span>已有帐号？</span><a href="/">马上登录</a>
                            <label style="color:red">{{ login_result }}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/common.js"></script>
</body>
</html>
